
.filter-dropdowns {
  margin-left: -200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .filter-dropdowns label {
    margin-right: 0px;
    margin-top: 5px;
    width: auto;
  }
  
  .filter-dropdowns select {
    width: 200px;
  }  

  .filter-button{
    width: 100px;
    padding: 7px;
    border-radius: 15%;
    margin-top: 0px;
    background-color: rgb(93, 201, 93);
    color: white;
    border: none;
  }